<div class="container-fluid bg-dark">
  <div class="row">
    
    <div class="col-md-6 col-sm-12 my-5">
      <a class="navbar-brand ms-5 text-secondary" href="#"><i class="fa-solid fa-utensils"></i> WELLFED</a>
      <p class="text-justify text-secondary ms-5 mt-2 col-8">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia hic officia libero eligendi error officiis quos molestiae aliquid nostrum, eum aut, ad nemo minus laborum molestias porro reprehenderit quas animi.</p>
      <div class="fit-content ms-5">
        <a href="{% url 'restaurant-contact' %}" class="btn btn-sm"><button class="base-color-outline rounded">Contact Us</button></a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 my-5">
      <div class="row">
        <div class="col-6">
          <h5>Links</h5>
          <a href="{% url 'restaurant-home' %}" class="nav-link text-secondary">Home</a>
          <a href="{% url 'restaurant-about' %}" class="nav-link text-secondary">About</a>
          <a href="{% url 'restaurant-service' %}" class="nav-link text-secondary">Services</a>
          <a href="{% url 'restaurant-menu' %}" class="nav-link text-secondary">Menu</a>
          <a href="{% url 'restaurant-contact' %}" class="nav-link text-secondary">Contact</a>
        </div>
  
        <div class="col-6">
          <h5>Socials</h5>
          <p class="text-secondary"><i class="fa-solid fa-phone text-success"></i> 0901234567</p>
          <p class="text-secondary"><i class="fa-brands fa-instagram text-danger"></i> fed_well</p>
          <p class="text-secondary"><i class="fa-brands fa-facebook text-primary"></i> fedwell_official</p>
          <p class="text-secondary"><i class="fa-brands fa-twitter text-info"></i> fedwell</p>
        </div>
  

      </div>
      <h4 style="display:inline-block">Address:</h4>
      <p style="display:inline-block" class="text-secondary"> 5, whatever street, whatever state, whatever country.</p>
    </div>
    <p class="text-center bg-dark text-secondary py-2 m-0" style="width:100vw;border-top: 2px solid rgb(91, 91, 91);">Copywrite &copy <span id="year"></span></p>
  </div>
</div>
