
{% if messages %}
  {% for message in messages%}
  <div class="container bg-light shadow text-center" id="message">
    <p class="text-{{message.tags}}  py-3">
      <span>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          Error:

        {% endif %}
      </span>
      {{message}}
    </p>
  </div>
  
    

  {% endfor %}
  <script>
    message = document.querySelector('#message')
    function closeBlock(){
      setInterval(()=>{
        message.style.display = 'none'
      },1000)
    }
    setInterval(()=>{
        message.classList.add('fade')
        closeBlock() 
    }, 5000)
  </script>
{% endif %}
  