@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Slab&family=Ubuntu&display=swap');

/* 
font-family: 'Inconsolata', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif; 
*/

:root{
  --primary: 'Roboto Slab', serif;
  --secondary: 'Ubuntu', sans-serif;
  --accent: 'Inconsolata', monospace;
  --base-color: rgb(190, 79, 0);
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--primary);
}
p,li,small{
  font-family: var(--accent);
}
a, button, label{
  font-family: var(--secondary);
}
i.fa-utensils{
  color: var(--base-color)
}
a>button.base-color{
  background-color: var(--base-color);
  border: 2px groove var(--base-color);
  color:white;
  padding: 4px 10px;
}
a>button.base-color-outline{
  color:var(--base-color);
  border:2px solid var(--base-color);
  padding: 4px 10px;
  background-color: transparent;
}
a>button.base-color-outline:hover{
  color:white;
  background-color: var(--base-color);
}
.hero-header{
  color:var(--base-color)
}
a{
  text-decoration: none;
}
a.nav-link:hover{
  text-decoration: underline;
  text-decoration-color: var(--base-color);
}
li{
  list-style: none;
}