{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
  About
{% endblock title %}
  
{% block main %}
<!-- ======= hero section starts ========= -->
<div class="container-fluid pt-3 pb-5">
  <div class="row">
    
    <div class="col-md-6 col-sm-12">
      <div class="col-12" style="height:100%; display:grid; place-items: center;">
        <div class="col-8 mx-auto" style='height:fit-content'>
          <h1 class="hero-header">About Us</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis impedit incidunt nesciunt fugiat commodi odit aliquam in quod, dolores expedita fugit esse maiores a quis ea repellat natus similique sint.</p>
          
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <img src="{% static 'images/wepik-photo-mode-2022819-84549.png' %}" alt="..." class="img-fluid">
    </div> 
  </div>
</div>
<!-- ======= hero section ends ========= -->

<!-- =========== Team section starts =============== -->
<div class="container-fluid mb-5 pb-3">
  <h4 class="text-center mt-3 mb-4">Our Team</h4>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="col-10 mx-auto">
        <div class="col-8 mx-auto mb-3">
          <img src="{% static 'images/wepik-photo-mode-2022819-105537.png' %}" alt="" class="img-fluid circle-border shadow">
        </div>
        <dl class="text-center">
          <dt class="">Angelina Jolie</dt>
          <dd>Waiter</dd>
        </dl>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="col-10 mx-auto">
        <div class="col-8 mx-auto mb-3" style="border-radius:50%" style="overflow:hidden">
          <img src="{% static 'images/wepik-photo-mode-2022819-105537.png' %}" alt="" class="img-fluid circle-border shadow">
        </div>
        <dl class="text-center">
          <dt class="">Angelina Jolie</dt>
          <dd>Waiter</dd>
        </dl>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="col-10 mx-auto">
        <div class="col-8 mx-auto mb-3" style="border-radius:50%" style="overflow:hidden">
          <img src="{% static 'images/wepik-photo-mode-2022819-105537.png' %}" alt="" class="img-fluid circle-border shadow">
        </div>
        <dl class="text-center">
          <dt class="">Angelina Jolie</dt>
          <dd>Waiter</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<!-- ========= Team section ends ================ -->

<!--============= About section starts =======-->
<div class="container-fluid py-5 mt-5  bg-image-2">
  <div class="row g-0">
    <div class="col-12">
      <h4 class="text-center">More About US</h4>
      <p class="text-dark col-11 mx-auto text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident vero esse molestias aliquid illo harum consequatur unde qui eius, ea vel ad repellendus maiores odio soluta sequi tempora dolorem ut.
      A adipisci iure velit autem, minima alias rem obcaecati, veniam ullam tempore impedit corrupti eveniet? Fugiat ratione quaerat, tempore itaque recusandae maiores nobis sunt vitae, animi aliquam id, dignissimos hic!
      Ullam dolorem a quo eum fugit esse cumque amet! Nemo repellendus temporibus a architecto tempore, nobis quibusdam soluta voluptatum sequi facere, obcaecati ad? Nemo natus sequi iusto soluta amet incidunt!
      Ipsam asperiores provident illum doloremque? Obcaecati, temporibus numquam vel possimus libero magni ratione, dolorem, iusto alias mollitia natus architecto dignissimos nemo commodi rerum laudantium totam atque quis voluptas! At, magni!</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4 class=" col-10 text-justify mx-auto">Experience</h4>
      <p class="text-dark col-10 text-justify mx-auto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sapiente fugiat sit veniam libero consequatur necessitatibus placeat nisi nihil accusantium, reprehenderit similique aperiam, voluptatum provident odit praesentium. Culpa, impedit asperiores.</p>

    </div>
    <div class="col-md-6 col-sm-12">
      <h4 class=" col-10 text-justify mx-auto">Our Goals</h4>
      <p class="text-dark col-10 text-justify mx-auto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sapiente fugiat sit veniam libero consequatur necessitatibus placeat nisi nihil accusantium, reprehenderit similique aperiam, voluptatum provident odit praesentium. Culpa, impedit asperiores.</p>
    </div>
    
  </div>
</div>
<!--============= About section ends ============-->
{% endblock main %}
  