{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
  Contact
{% endblock title %}
  

{% block main %}
<h4 class="text-center mt-5">Contact Us</h4>
<!--============= form section starts =======-->
<div class="container-fluid mt-5 pt-4 bg-base">
  <div class="row g-0">
    <div class="col-md-6" style="display:grid; place-items:center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126799.94336654953!2d3.106068362499989!3d6.708883700000023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b995b41b7dd6d%3A0xb6c08985374e0e09!2sAptech%20Computer%20Education%20-Sango%20Ota!5e0!3m2!1sen!2sng!4v1663594005628!5m2!1sen!2sng" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mx-auto"></iframe>
    </div>
    <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
        <form action="" method="post" class="p-5 col-10 mt-3 mb-5 rounded">
          {% csrf_token %}
          <input type="text" placeholder="Name">
          <input type="email" name="email" id="email" placeholder="E-mail">
          <textarea name="message" id="message" placeholder="Message"></textarea>
          <input type="submit" value="Send" id="submit">
        </form>
    </div>
  </div>
</div>
<!--============= form section ends ============-->
{% endblock main %}