{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
  Services
{% endblock title %}


{% block main %}
<!-- ======= hero section starts ========= -->
<div class="container-fluid pt-3 pb-5">
  <div class="row">
    
    <div class="col-md-6 col-sm-12">
      <div class="col-12" style="height:100%; display:grid; place-items: center;">
        <div class="col-8 mx-auto" style='height:fit-content'>
          <h1 class="hero-header">Services</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis impedit incidunt nesciunt fugiat commodi odit aliquam in quod.</p>
          <h6>Open Hours</h6>
          <dl>
            <dt>Mon-Fri</dt>
            <dd>9:00am-11:00pm</dd>
          </dl>
          
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <img src="{% static 'images/bearded-waiter-holding-metal-tray.jpg' %}" alt="..." class="img-fluid">
    </div> 
  </div>
</div>
<!-- ======= hero section ends ========= -->

<!-- ============ Service section starts ================ -->
<div class="container-fluid my-5">
  <h4 class="text-center my-4">Our Services Include</h4>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="col-10 mx-auto">
        <img src="{% static 'images/delicious-fried-chicken-plate.jpg' %}" alt="" class="img-fluid img-thumbnail">
        <h6 class="text-center text-dark my-3">Birthday Party</h6>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="col-10 mx-auto">
        <img src="{% static 'images/delicious-fried-chicken-plate.jpg' %}" alt="" class="img-fluid img-thumbnail">
        <h6 class="text-center text-dark my-3">Birthday Party</h6>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="col-10 mx-auto">
        <img src="{% static 'images/delicious-fried-chicken-plate.jpg' %}" alt="" class="img-fluid img-thumbnail">
        <h6 class="text-center text-dark my-3">Birthday Party</h6>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="col-10 mx-auto">
        <img src="{% static 'images/delicious-fried-chicken-plate.jpg' %}" alt="" class="img-fluid img-thumbnail">
        <h6 class="text-center text-dark my-3">Birthday Party</h6>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="col-10 mx-auto">
        <img src="{% static 'images/delicious-fried-chicken-plate.jpg' %}" alt="" class="img-fluid img-thumbnail">
        <h6 class="text-center text-dark my-3">Birthday Party</h6>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="col-10 mx-auto">
        <img src="{% static 'images/delicious-fried-chicken-plate.jpg' %}" alt="" class="img-fluid img-thumbnail">
        <h6 class="text-center text-dark my-3">Birthday Party</h6>
      </div>
    </div>
  </div>
</div>
<!-- ============ Service section ends ================ -->
{% endblock main %}
  