{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block main %}
  
{% if validlink %}
<div class="container-fluid pb-5">
  <div class="container"  style="display:grid;place-items:center;height:100vh">
  
    <form action="" method="post" class="p-5 col-sm-10 col-md-8 col-lg-6 mt-3 mb-5 rounded  bg-base shadow">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Reset Password" id="submit" class="base-color-outline2 rounded">
    </form>

  </div>
  
</div>  
{% endif %}
{% endblock main %}
  