{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
  Sign up
{% endblock title %}


{% block main %}

<div class="container-fluid py-5">
  <div class="container mb-5"  style="display:grid;place-items:center;height:100vh">
  
    <form action="" method="post" class="p-5 col-sm-10 col-md-8 col-lg-6 mt-3 mb-5 rounded  bg-base shadow">
      <p class="text-light text-center fw-bold fs-5 mb-5">Sign Up Form</p>
      {% csrf_token %}
      {{form.first_name}}
      {{form.last_name}}
      {{form.username}}
      {{form.email}}
      {{form.password1}}
      {{form.password2}}
      <input type="submit" value="Sign up" id="submit" class="base-color-outline2 rounded">
      <p class="text-light text-center">Already have an account?. <a href="{% url 'user-signin'%}" style="text-decoration:underline" class="text-light">Sign in</a></p>
    </form>

  </div>
  
</div>  

{% endblock main %}